/* Outra opção de código CSS para animação de flutuação de elementos
Importante!: Inserir classe no elemento que deseja animar. */

selector.image1 {
    animation: float 10s ease;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-80px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}