/* Criar animação de rotação infinita.

Boa prática: o objeto em questão deve estar centralizado 
tanto no conteúdo quanto no alinhamento avançado */

selector {
animation: rodando 4s infinite linear;
}

@keyframes rodando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Segue abaixo uma outra opção para o trecho keyframes acima: */

@keyframes rodando {
  from {
    transform: rotate(0deg);
	} to {
    transform: rotate(360deg);
	}
}
